@import 'colors';

.view-contacts {
  margin: 0 auto;
  width: 980px;
}

.new-contact-button {
  float: right;
  margin-bottom: 10px;
}

.view-contact__title {
  text-align: center;
}

.ui-tab {
  border: 1px solid $grey-light;
}
